*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(image_1/login_background.avif) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    font-style: normal;
}
.wrapper{
    height: 500px;
    width: 469px;
    background:transparent;
    border: 2px solid gray;
    backdrop-filter: blur(20px);
    box-shadow: 0 0  10px black;
    color: aliceblue;
    border-radius: 10px;
    padding: 30px 40px;
    color: black;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background:transparent;
    border:none;
    outline: none;
    border: 2px solid lightslategray;
    border-radius: 40px;    
    font-size: 16px;
    color:black;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: black;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 15px 10px 20px;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;

}
.remember-forgot a{
    color: aliceblue;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline  ;
}
.wrapper .bth{
    width: 100%;
    height: 45px;
    background: aliceblue;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-top: 15px;
}
.wrapper .register-link{
    font-size: 17px;
    text-align: center;
    margin-top: 30px;
}
.register-link p a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
    }
.cacamowie{
    padding-top: 30px;
}

